.Validation
{
	color: Red;
}


#GridView td
{
	padding-bottom: 4px;
}
#div
{
	width: 69%;
	padding-bottom: 14px;
	padding-top: 11px;
	padding-left: 15px;
	margin-bottom: 9px;
	background-color: #515A6F;
	color: white;
}
#div input, textarea
{
	color: Black;
}

.SubmitButton
{
	background-color: #515A6F;
	color: white;
}
