<!DOCTYPE html>
<html>
<head>
    <title>LuminousMpartnerIB</title>
  
   
    
        <style type="text/css">
        .style1
        {
            width: 100%;
        }
    </style>
  
</head>
<body>
  <table class="style1" style="background-color:white">
  
    <tr>
        <td>
            </td>
        <td>
       
       </td>
    </tr>
</table>

</body>
</html>