@*@model LuminousMpartnerIB.Models*@
@{
    ViewBag.Title = "View Dealer";
    Layout = "~/Views/Shared/_Layout.cshtml";



}

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@


<script type="text/javascript">
      
    $(function () {
        debugger;     
        $.post("@Url.Content("~/ViewDealer/GetGridData")", null, function (data) { SetGrid(data); }, "Json");                
    });
        

    //Set Parent Category//

    function SetGrid(data) {
        debugger;

        var body = "";
        $("#Grid tbody").empty();
        $.each(data.result, function (key, value) {
            debugger;

            body += "<tr><td> " + value.SapCode + "</td>" +
                "<td>" + value.CustomerType + "</td>" +
                
                "<td>" + value.Name + "</td>" +
                "<td>" + value.Address + "</td>" +
                "<td>" + value.country + "</td>" +

                "<td>" + value.State + "</td>" +

                "<td>" + value.City + "</td>" +

                //"<td>" + value.ContactNo + "</td>" +

                "<td style='display: none'>" + value.id + "</td>" +

                //"<td style='text-align:right;'></td></tr>";

                "<td style='text-align:right;'>  <a style='cursor:pointer' onclick=Edit(" + value.id + ");><i class='fas fa-pencil-alt' style='font-size: 13px; color: #737373;'></i></a></td></tr>";

            //"<td style='text-align:right;'>  <a style='cursor:pointer' onclick=Edit(" + value.id + ");><i class='fas fa-pencil-alt' style='font-size: 13px; color: #737373;'></i></a> <a style='cursor:pointer' onclick=Delete(" + value.id + ");><i class='fas fa-trash-alt' style='font-size:13px; color: #ff6c6c; margin-left: 10px;'></i></a></td></tr>";

        });
        $("#Grid tbody").append(body);
        // SetPages(data.TotalRecord)

        paging();
    }

     function Edit(id) {
         location.href = "@Url.Content("~/ViewDealerDetails/Index/")" + id;
    }

    function Delete(id) {
        debugger;
        if (confirm("Do You Want To Delete This Record")) {

            $.post("@Url.Content("~/CreateSalesEmployees/Delete")", { id: id }, function (data) {

               $.post("@Url.Content("~/CreateSalesEmployees/GetGridData")", null, function (data) { SetGrid(data); }, "Json");

                alert(data);

            }, "Json");
        }
    }


</script>






<div id="page-wrapper" style="background: #f2f4f8;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pageHeading"><span></span>View Dealer </h1>
        </div>
    </div>
    <div id="form">      
            <div class="row">                         

                <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
                    <div class="addgift" style="padding-bottom:30px;">
                        <div>
                            @using (Html.BeginForm("Index", "CreatePermotionPrice_New", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {

                                <table class="headingHd" style="width:100%;">
                                    <tr>
                                        <th colspan="8" style="font-size: 20px;font-weight: normal;background: none; color: #595959; width: 79%;">Dealer List</th>

                                    </tr>
                                </table>
                            }
                        </div>
                        <div id="list" class="tabelGridRow">
                            <table id="Grid" class="tabelGridRow2" style="width:100%; margin-top:15px; margin-bottom:15px">
                                <thead>
                                    <tr>
                                        <th>SapCode</th>
                                        <th>Customer Type</th>
                                        <th>Name</th>
                                        <th>Address </th>
                                        <th>country</th>
                                        <th>City</th>
                                        <th>State</th>
                                        @*<th>Contact No</th>*@
                                        @*<th>Email</th>*@
                                        @*<th>Created BY</th>*@
                                        <th style="display:none">id</th>
                                        <th style="text-align:right; width:10%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                            <div>
                                Pages :<span id="Paging"></span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>      
    </div>

    <div class="space30"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="footerRow">
                © Copyright 2019 Luminous | All Rights Reserved
            </div>
        </div>
    </div>
</div>
