@{
   
    Layout = "~/Views/Shared/security.cshtml";
}

<html>
<head>
<title></title>

</head>
<body>
<div id="content_wrap">
            <div class="msgbar msg_Info heading"><h2>You Do Not Have Permission For This Action</h2></div>
      <div class="content_main" >
        <div class="boxes1">
         
</div>
</div>
</div>

</body>
</html>
