@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper" style="background: #f2f4f8;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pageHeading"><span>Magical 7 - </span>Report</h1>
        </div>
    </div>

    <div class="row">
        <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="2500">
            <div class="addgift">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Report for Coupon Master</label>                           
                            @using (Html.BeginForm("DownloadLSDMaster", "LSD_Lucky7Report"))
                            {
                                <input type="submit" value="Download" class="submitBtnSml" />
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Report for Distributor Eligibility</label>
                            @using (Html.BeginForm("DownloadLSDCoupon", "LSD_Lucky7Report"))
                            {
                                <input type="submit" value="Download" class="submitBtnSml" />
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Report for Gift Master</label>
                            @using (Html.BeginForm("DownloadLSDGift", "LSD_Lucky7Report"))
                            {
                                <input type="submit" value="Download" class="submitBtnSml" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space30"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="footerRow">
                © Copyright 2019 LuminousMpartnerIB | All Rights Reserved
            </div>
        </div>
    </div>
</div>
